body{
  overflow: hidden;
  background-color: #42424237;
  color: #f76d01 !important;
}

#pageContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#menu{
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f76d01 !important;
  
}

#menu select{
  width: 40vw;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color: #f76d01 !important;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #f76d01;
  transition: 0.3s all;
}

select option{
  border-radius: 10px;

}

.main{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  height: 80vh;
  width: 100vw;
  align-items: end;
  
}


.graph{
  /* height: 80vh; */
  width: 45vw;
  margin-bottom: 100px;
}

button{
  color: rgb(247, 109, 1);
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 150px;
  transition: 0.3s all;
  background-color: transparent;
  border: 1px solid #f76d01;
}

button:hover{
  background-color: rgba(247, 108, 1, 0.245);
  border: none;
  border-radius: 5px;
}

input{
  color: rgb(247, 109, 1);
  width: 40vw;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #f76d01;
  transition: 0.3s all;
  font-size: 25px;
}

input:focus{
  outline: none;
  box-shadow: 0px 0px 5px 1px #f76d01;

}

label{
  margin: 10px;
  margin-top: 10px;
  padding: 10px;
}

.inputContainer{
  margin-top: 30px;
}


#buttonContainer{
  display: flex;
  justify-content: space-around;
}

#buttonContainer button{
  display: flex;
  justify-content: space-around;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  margin-bottom: 100px;
}

@media screen and (max-width:600px) {
  .main{
    flex-direction: column;
  }

  .graph{
    height: 50vh;
    width: 90vw;
    margin-bottom: 0;
    margin: auto;

  }

  input{
    width: 80vw;
    align-items: center;
    /* justify-content: center; */
  }

  .inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  label{
    margin-top: 0;
    margin: 0;
    padding: 0;
  }
  input{
    margin-top: 0;
  }

  #form{
    margin-bottom: 0;
    margin-right: 20px;
    
  }

  #menu select{
    width: 90vw;
  }

  /* #menu select option{
    width: 80vh;
  } */
}